@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "CynthoNext-SemiBold";
    src: url(../fonts/cynthoNext/CynthoNext-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "CynthoNext-Regular";
    src: url(../fonts/cynthoNext/CynthoNext-Regular.ttf);
}

$white: #ffffff;
$green: #6cb2aa;
$black: #2c2b30;
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    font-family: "Montserrat-SemiBold";
    text-align: center;
    font-size: 70px;
    line-height: 85px;
    color: $white;
    margin-top: 60px;
    margin-bottom: 60px;

}
p {
    font-family: "CynthoNext-Regular";
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    line-height: 161.02%;
    color: $white;
    margin-top: 20px;
}
h3 {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: $white;
    text-align: center;
    padding-top: 5px;
}

.strong {
    font-weight: bold;
}
.fitness-card-spisk {
    margin-top: 40px;
}
.fitnesscard-spisk-item {
    font-family: "CynthoNext-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 161.02%;
    color: $white;
    margin-top: 20px;
    margin-left: 40px;
}


.sport-image-block {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 120px;
    text-align: center;
}

.fitness-card-items-block-ser {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 71px;
}
.fitness-card-block {
    margin-top: 150px;
}